@import "tailwindcss";

@font-face {
    font-family: "Luckiest Guy";
    src: url("./assets/fonts/luckiestguy-regular-webfont.woff2") format("woff2"),
         url("./assets/fonts/luckiestguy-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Russo One";
    src: url("./assets/fonts/russoone-regular-webfont.woff2") format("woff2"),
         url("./assets/fonts/russoone-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-lucky: "Luckiest Guy", "cursive";
    --font-russo: "Russo One", "sans-serif"
}